<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MPSInfo">

	<!-- 조회 -->
	<select id="selectMyPageInfo" resultType="MypageSDTO"
		parameterType="int">
		SELECT
		u.user_id,
		u.user_name,
		u.user_birth,
		u.user_nickname,
		u.user_email,
		u.user_phone,
		u.user_gender,
		s.shelter_name,
		s.shelter_certification FROM ddd_user u
		JOIN
		ddd_user_shelter s ON u.user_number = s.user_number
		WHERE u.user_number
		= #{userNumber}
	</select>
	
	<select id="selectRecentArchives" parameterType="int" resultType="com.ddd.app.dogarchive.dto.ArchiveListDTO">
        SELECT * FROM (
            SELECT
                A.DOG_NUMBER AS dogNumber,
                A.DOG_NAME AS dogName,
                A.DOG_BREED AS dogBreed,
                <!-- A.DOG_AGE AS dogAge, -->
                A.DOG_GENDER AS dogGender,
                AI.ARCHIVE_IMG_PATH AS archiveImgPath
            FROM DDD_ARCHIVE A 
            LEFT JOIN (
                SELECT DOG_NUMBER, ARCHIVE_IMG_PATH
                FROM (
                    SELECT DOG_NUMBER, ARCHIVE_IMG_PATH,
                           ROW_NUMBER() OVER (PARTITION BY DOG_NUMBER ORDER BY ARCHIVE_IMG_NUMBER ASC) as RN
                    FROM DDD_ARCHIVE_IMG
                ) WHERE RN = 1
            ) AI ON A.DOG_NUMBER = AI.DOG_NUMBER
            WHERE A.USER_NUMBER = #{userNumber} 
            ORDER BY A.DOG_NUMBER DESC
        )
        WHERE ROWNUM &lt;= 4 
    </select>
    
	<!-- 변경 -->
	<update id="updateMyPageInfo" parameterType="map">
		UPDATE ddd_user
		SET
		user_nickname = #{userNickname},
		user_phone =
		#{userPhone}
		<if test="userPassword != null and userPassword != ''">
			, user_password = #{userPassword}
		</if>
		WHERE user_number = #{userNumber}
	</update>

	<!-- 닉네임 중복검사 -->
	<select id="checkNickName" parameterType="String"
		resultType="int">
		select
		count(user_number) from ddd_user
		where user_nickname =
		#{userNickname} AND user_number != #{userNumber}
	</select>

</mapper>

