<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageArchive">

	<select id="selectMyArchive" parameterType="int" resultType="com.ddd.app.mypage.dto.MypageArchiveDTO">
		SELECT
			a.dog_number,
			a.dog_name,
			a.dog_breed,
			us.shelter_name,
			a.dog_safe_date,
			ai.archive_img_path
		FROM ddd_archive a
		LEFT JOIN ddd_user_shelter us ON a.user_number = us.user_number
		LEFT JOIN (
			SELECT dog_number, MIN(archive_img_number) AS min_img_number
			FROM ddd_archive_img
			GROUP BY dog_number
		) first_img ON a.dog_number = first_img.dog_number
		LEFT JOIN ddd_archive_img ai ON first_img.min_img_number = ai.archive_img_number
		WHERE a.user_number = #{userNumber}
		ORDER BY a.dog_number DESC
	</select>

</mapper>
